<h1>Login</h1>

<%= form_tag '/sessions' do %>

  <% puts 'login.html: sessionID', session[:user_id] %>

  email: <%= text_field_tag :email %>
  password: <%= password_field_tag :password %>

<%= submit_tag 'Submit' %>

<% end %>