<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order, generic user </h1>
    <p>
      Your stuff is being boxed. You spent <%= @total %>
    </p>
    <p>
      This is your stuff:
    </p>
      <ul>
        <% @order.line_items.each do |line_item| %>
          <li>
          <%= "#{line_item.product.name}: #{line_item.product.price} #{line_item.quantity}" %>
          </li>
      </ul>
      <% end %>
  </body>
</html>

